<a href="https://colab.research.google.com/github/JosueManzano7/CompuyProgra2022G1157/blob/main/fundamentos2_CyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fecha: 04 de noviembre de 2021

#Datos de Entrada
Para solicitar los datos del usuario se emplea la función input. La cual regresa siempre un tipo de dato string

In [ ]:
nombre=input("Ingresa tu nombre")
print("Tecleaste: ", nombre)

Ingresa tu nombrejosue
Tecleaste:  josue

#¿Cómo capurar datos numéricos?

Para ello se hace una conversion entre tipos...
casting. consiste en llamar al constructor de la clase deseada

#Ejemplo convertir el string "2" en numero

num=int("2")

In [ ]:
entrada=input("Dame tu edad: ")
edad= int(entrada)
edad+=1 #edad =edad+1
print("Tu edad es: ", edad)

Dame tu edad: 19
Tu edad es:  20

In [ ]:
#Lo mismo pero con menos código
edad=int(input("Dame tu edad: "))
print("Tu edad es: ", edad+1)

Dame tu edad: 19
Tu edad es:  20

In [ ]:
estatura=float(input("Dame tu estatura: "))
print("Tu estatura es: ",estatura+0.1 )

Dame tu estatura: 1.60
Tu estatura es:  1.7000000000000002

In [ ]:
#Input de booleans
casado=bool(int(input("soltero (0) casado(1): ")))
print("casado= ", casado)

soltero (0) casado(1): 0
casado=  False

#Tipos de datos estructurados de Python
1.Listas
2. Duplas
3. Diccionarios
4. Conjuntos(opcional)

#Listas
- Tipo de dato que agruo variables o valores.
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas#
  - usando[]
  - usando list()
- Puede contener tipos de datos diversos (En otros lenguajes de prog. eso no es posible de forma directa)
- Los elementos internos se seleccionan con[]
- Soporta slicing
- SON MUTABLES
- GENERADORES [var]
- al ser una clase contiene muchos métodos útiles

In [ ]:
numeros=[10,5,2,3,1]
print(numeros)

numeros2=list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)

numeros[2]=20
print(numeros)
numeros[-1]=33
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [ ]:
#Tipos de datos diverosos
cosas=[12, 2, True, "Josue", 1.57, ["pera", "kiwi", "uva"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3])
cosas[3]=cosas[3].upper()
print(cosas)

[12, 2, True, 'Josue', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSUE', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros= [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing

print(numeros[3:8])
print(numeros[8:10])
print(numeros[-3:-1])
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#crear una lista con un generador
numeros =[x*3 for x in range(101)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#funcion range()
tiene los msmos componentes que slicing 

inicio,stop,incremento

range(1,101,1)

In [ ]:
numeros =[x for x in range(50,101,5)]
print(numeros)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#Metodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros=[4,1,15,8,22,34,50]
print(numeros)

numeros.append(99) #agrega un elemento a la lista
print(numeros)

numeros.clear() #vacia la lista
print(numeros)

numeros=[] #vacia la lista
print(numeros)

frutas=["uvas", "kiwi", "manzana"]
copia=frutas
print(frutas)
print(copia)
frutas.append("Naranja")
print(frutas)
print(copia)

colores=["rojo","azul", "blanco"]
copia2=colores.copy()  #copia fisica
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

numeros=[4,1,15,15,8,22,34,50]
print("Nuemro de veces que aparece el 15: ", numeros.count(15)) #numeo de veces que se repie un elemento

nombres=["jose", "pedro", "dayra"]
otrosNombres=["jouse", "diana", "dalia"]
print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)


#lo mismo con el metodo extend
otrosNombres.extend(["Jesus", "maria", "jose"])
print(otrosNombres)


print("Jesus esta en la posición: ",otrosNombres.index("Jesus"))#regresa la posisicon donde se encuentra el elemento

otrosNombres.insert(4, "espiritu santo")
print(otrosNombres)

#pop, agarra el ultimo elemento
resultado=otrosNombres.pop() 
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
[]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'Naranja']
['uvas', 'kiwi', 'manzana', 'Naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Nuemro de veces que aparece el 15:  2
['jose', 'pedro', 'dayra']
['jouse', 'diana', 'dalia']
['jose', 'pedro', 'dayra', 'jouse', 'diana', 'dalia']
['jouse', 'diana', 'dalia']
['jouse', 'diana', 'dalia', 'Jesus', 'maria', 'jose']
Jesus esta en la posición:  3
['jouse', 'diana', 'dalia', 'Jesus', 'espiritu santo', 'maria', 'jose']
['jouse', 'diana', 'dalia', 'Jesus', 'espiritu santo', 'maria']
jose



---

#FECHA: 9 de noviembre de 2021

#Tuplas
### Características de las tuplas
- Se declara usando#
 - ()
 - tuple()
- Datos agrupados
- Estructura secuencial, indexada a partir de 0
- peude tener de 0 a n elementos
- NO SON MUTABLES (no se peuede eliminar y/o cambiar)
- SOn buenas para almacenar información de consulta
-Puede almacenar info. de diferentes tipos de datos.
- Pueden estar anidadas
- Tienen métodos útiles

In [ ]:
info=("juan23", "dios1234", "123.232.1.12")
print(info)
print(info[1])
#info[1]="patito23"  es inmutable

numero=(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numero)
print(numero[5:11])

cosas=(info,numero)
print(cosas)

print(cosas[1][5:11])

print(cosas[0][2][4:7])
print(cosas[0][2][-8:-5])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

#Métodos de las tuplas

###Son los mismos de las lisas pero los que no involucren mutabilidad

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios
### Características de los diccionarios
- Agrupan datos pero de forma no lineal
- Se declaran con:
 -{}
 -dict()
- Formado por pares del tipo llave:valor, donde:
 - llave es de tipo string (siempre)
 - valor puede ser de cualquier tipo de dato, incluyend los diccionarios.
- se seleccionan con la llave de la forma --> ["id_llave"]
- son mutables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScipt (JS)

In [ ]:
alumno={"nombre": "Jose"}
print(alumno)
print(alumno["nombre"])
alumno={"nombre":"Jose", "nc":"2129229292", "edad":18}
print(alumno["edad"])
print("Edad del alumno= ", alumno["edad"])
print(alumno["nombre"].upper())#pone el nombre en 
print(alumno)

print("-------------------")
print("Alumno 2: ")
alumno2=dict() #{}
alumno2["nombre"]="Josue"
print(alumno2)
alumno2["nc"]="2129229292"
alumno2["edad"]=18
print(alumno2)
alumno2["edad"]=alumno2["edad"]+1
print(alumno2)

{'nombre': 'Jose'}
Jose
18
Edad del alumno=  18
JOSE
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 18}
-------------------
Alumno 2:
{'nombre': 'Josue'}
{'nombre': 'Josue', 'nc': '2129229292', 'edad': 18}
{'nombre': 'Josue', 'nc': '2129229292', 'edad': 19}

In [1]:
cliente={"id":"CT2121",
         "nombre":"Josue Manzano Ponce",
         "telefono":"casa=55896487  cel=8965423561"}

print(cliente)

cliente={"id":"CT2121",
        "nombre":
            {
             "nombres":["Josue","Pepe"],
             "paterno":"Manzano",
             "materno":"Ponce"
            },

       "telefono":
            {
              "casa":"55896487", 
              "trabajo":"8965423561",
              "celular":"5598635487"
            },
         
        "productos":
            {
             "ahorro":{"numero_cuenta":"7788", "ahorro":2500.5},
          
        "tarjetas":
               [
                  {"tipo":"debito", "saldo":10000.5},
                  {"tipo":"credito preferente","limite":250000.5},
                  {"tipo":"lite","limit":15000.5},
               ]
            },
         
       "direccion":
           {
             "calle":"Av. central",
             "numero":1245,
             "colonia":"impulsora",
             "delegacion":"neza",
             "estado":
                   {
                    "clave":15,
                    "nombre_corto":"EdoMex",
                    "nombre":"Estado de México"
                   }
           }

         }  #llave final

print(cliente["telefono"]["casa"])

print(cliente)

print(cliente["productos"]["ahorro"]["ahorro"])

print(cliente["productos"]["tarjetas"][2]["limit"])

print(cliente["direccion"]["estado"]["nombre"].upper())

cliente["productos"]["ahorro"]["ahorro"]-=1500

print(cliente["productos"]["ahorro"]["ahorro"])

{'id': 'CT2121', 'nombre': 'Josue Manzano Ponce', 'telefono': 'casa=55896487  cel=8965423561'}
55896487
{'id': 'CT2121', 'nombre': {'nombres': ['Josue', 'Pepe'], 'paterno': 'Manzano', 'materno': 'Ponce'}, 'telefono': {'casa': '55896487', 'trabajo': '8965423561', 'celular': '5598635487'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limit': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de México'}}}
2500.5
15000.5
ESTADO DE MÉXICO
1000.5

#FECHA 11 DE NOVIEMBRE DE 2021

In [6]:
Spiderman3={"nombre":"Hombre Araña 3",
             
            "protagonistas":
               {
                "Hombres":["Tobey Maguire","James Franco","Thomas Haden Church"],
                "Mujeres":["Kirsten Dunst","Bryce Dallas Howard"]      
               },

            "Direccion":
            {
              "Director":"Sam Raimi"
             
            },
         
           "Heroes":
            {
             "heroes":["Spiderman","Harry Osborn"]
            },
         
             "Villanos":
            {
             "Villanos":["Sandman","Venom"]
            },
         

         }  #llave final

print(Spiderman3)

{'nombre': 'Hombre Araña 3', 'protagonistas': {'Hombres': ['Tobey Maguire', 'James Franco', 'Thomas Haden Church'], 'Mujeres': ['Kirsten Dunst', 'Bryce Dallas Howard']}, 'Direccion': {'Director': 'Sam Raimi'}, 'Heroes': {'heroes': ['Spiderman', 'Harry Osborn']}, 'Villanos': {'Villanos': ['Sandman', 'Venom']}}

#Estructura de control de programación

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estructuras de control:
1. Secuencia:
 - La representacionde de l memoria de programa (Arquitectura Von Neuman)
2. Seleccion:
 - Es la estructura de control que decide si un bloque de programa se ejecuta o no se ejecuta. Tambien permite seleccionar ejecutar un bloque entre un conjunto de opciones.
  En resumen tenemos: selección simple, selección con bifurcación y seleccion múltiple
3. Repeticion:
 - Este tipo de estructura nos permite automatizar la ejecucion repetitiva de código mientras ciertas condiciones se cumplan, tenems 3 variantes de esta estrctura en todos los lenguajes de programación:
  - Desde...hasta (Estructura for)
  - Haz mentras (Estructura While)
  - Haz y luego validaz (Estructura Do-While)

#Seleccion simple
-- Documentar
la estrcura if
```
if <CONDICION> :
    <Cuerpo del if>
```

**NOTA** Para establecer el cuerpo de una estructura de control en Python se usan los tabuladores a la izquierda

En otros lenguajes de programacion como java, c ,c++...  se usan las { }
```
int edad=0;
printf("Dame tu edad");
scanf("%i", &edad);
if(edad>=18)
{ printf("ERES MAYOR DE EDAD");}

printf("Fin del programa");
```

In [9]:
edad=int(input("Dame tu edad: "))
print(f"tecleaste {edad} años")
if edad>=18:
  print("ERES MAYOR DE EDAD")
  print("ALGO")
  print("otra cosa")
print("--Fin del programa--")

Dame tu edad: 19
tecleaste 19 años
ERES MAYOR DE EDAD
ALGO
otra cosa
--Fin del programa--
Dame tu calificacion: 9
APROBADO
--Fin del programa--

In [13]:
CAL=float(input("Dame tu calificacion: "))
if CAL>8:
  print("APROBADO")
print("--Fin del programa--")

Dame tu calificacion: 8.1
APROBADO
--Fin del programa--

In [20]:
SUE=float(input("Dame tu sueldo: "))
AUM=0
NSUE=0
if SUE<1000:
    AUM=SUE*0.15
    NSUE=SUE+AUM
print(NSUE)

Dame tu sueldo: 85
97.75