<a href="https://colab.research.google.com/github/JosueManzano7/CompuyProgra2022G1157/blob/main/fundamentos2_CyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fecha: 04 de noviembre de 2021

#Datos de Entrada
Para solicitar los datos del usuario se emplea la función input. La cual regresa siempre un tipo de dato string

In [61]:
nombre=input("Ingresa tu nombre")
print("Tecleaste: ", nombre)

Ingresa tu nombrejosue
Tecleaste:  josue

#¿Cómo capurar datos numéricos?

Para ello se hace una conversion entre tipos...
casting. consiste en llamar al constructor de la clase deseada

#Ejemplo convertir el string "2" en numero

num=int("2")

In [62]:
entrada=input("Dame tu edad: ")
edad= int(entrada)
edad+=1 #edad =edad+1
print("Tu edad es: ", edad)

Dame tu edad: 19
Tu edad es:  20

In [63]:
#Lo mismo pero con menos código
edad=int(input("Dame tu edad: "))
print("Tu edad es: ", edad+1)

Dame tu edad: 19
Tu edad es:  20

In [64]:
estatura=float(input("Dame tu estatura: "))
print("Tu estatura es: ",estatura+0.1 )

Dame tu estatura: 1.60
Tu estatura es:  1.7000000000000002

In [65]:
#Input de booleans
casado=bool(int(input("soltero (0) casado(1): ")))
print("casado= ", casado)

soltero (0) casado(1): 0
casado=  False

#Tipos de datos estructurados de Python
1.Listas
2. Duplas
3. Diccionarios
4. Conjuntos(opcional)

#Listas
- Tipo de dato que agruo variables o valores.
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas#
  - usando[]
  - usando list()
- Puede contener tipos de datos diversos (En otros lenguajes de prog. eso no es posible de forma directa)
- Los elementos internos se seleccionan con[]
- Soporta slicing
- SON MUTABLES
- GENERADORES [var]
- al ser una clase contiene muchos métodos útiles

In [14]:
numeros=[10,5,2,3,1]
print(numeros)

numeros2=list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)

numeros[2]=20
print(numeros)
numeros[-1]=33
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [15]:
#Tipos de datos diverosos
cosas=[12, 2, True, "Josue", 1.57, ["pera", "kiwi", "uva"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3])
cosas[3]=cosas[3].upper()
print(cosas)

[12, 2, True, 'Josue', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSUE', 1.57, ['pera', 'kiwi', 'uva']]

In [26]:
numeros= [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing

print(numeros[3:8])
print(numeros[8:10])
print(numeros[-3:-1])
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
#crear una lista con un generador
numeros =[x*3 for x in range(101)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#funcion range()
tiene los msmos componentes que slicing 

inicio,stop,incremento

range(1,101,1)

In [33]:
numeros =[x for x in range(50,101,5)]
print(numeros)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#Metodos disponibles de las listas

In [35]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [59]:
numeros=[4,1,15,8,22,34,50]
print(numeros)

numeros.append(99) #agrega un elemento a la lista
print(numeros)

numeros.clear() #vacia la lista
print(numeros)

numeros=[] #vacia la lista
print(numeros)

frutas=["uvas", "kiwi", "manzana"]
copia=frutas
print(frutas)
print(copia)
frutas.append("Naranja")
print(frutas)
print(copia)

colores=["rojo","azul", "blanco"]
copia2=colores.copy()  #copia fisica
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

numeros=[4,1,15,15,8,22,34,50]
print("Nuemro de veces que aparece el 15: ", numeros.count(15)) #numeo de veces que se repie un elemento

nombres=["jose", "pedro", "dayra"]
otrosNombres=["jouse", "diana", "dalia"]
print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)


#lo mismo con el metodo extend
otrosNombres.extend(["Jesus", "maria", "jose"])
print(otrosNombres)


print("Jesus esta en la posición: ",otrosNombres.index("Jesus"))#regresa la posisicon donde se encuentra el elemento

otrosNombres.insert(4, "espiritu santo")
print(otrosNombres)

#pop, agarra el ultimo elemento
resultado=otrosNombres.pop() 
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
[]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'Naranja']
['uvas', 'kiwi', 'manzana', 'Naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Nuemro de veces que aparece el 15:  2
['jose', 'pedro', 'dayra']
['jouse', 'diana', 'dalia']
['jose', 'pedro', 'dayra', 'jouse', 'diana', 'dalia']
['jouse', 'diana', 'dalia']
['jouse', 'diana', 'dalia', 'Jesus', 'maria', 'jose']
Jesus esta en la posición:  3
['jouse', 'diana', 'dalia', 'Jesus', 'espiritu santo', 'maria', 'jose']
['jouse', 'diana', 'dalia', 'Jesus', 'espiritu santo', 'maria']
jose