<a href="https://colab.research.google.com/github/JosueManzano7/CompuyProgra2022G1157/blob/main/fundamentos3_CyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#FECHA: 23 DE NOVIMBRE DE 2021

Repeticion:
 - Este tipo de estructura nos permite automatizar la ejecucion repetitiva de código mientras ciertas condiciones se cumplan, tenems 3 variantes de esta estrctura en todos los lenguajes de programación:
  - Desde...hasta (Estructura for)
  - Haz mentras (Estructura While)
  - Haz y luego validaz (Estructura Do-While)

  #FOR CON PYTHON
  ```
for j in range(10):
         print(f"Hola {j}")
  ```

  #FOR CON C Y JAVA
  ```
for (int j=0; j<10; j++)
{
 print("Hola %i \n", j)
}
  ```
En todos los lenguajes de programación existe un tipo de for, conocido como **for-each**

# For-each en Python
```
for color in colores
    print(f"Este es el color {color}")
```

In [ ]:
#funcion range()
#range(<INICIO>, <STOP>, <INCREMENTO>)
x=range(0,10,2)
print(x)

for j in range(10): #range(0,10)--> 0,1,2,3,4,5,6,7,8,9
    print(f"Hola {j}")

print("--------------------------------")

for j in range(0,10,2): #range(0,10,2)--> 0,2,4,6,8
    print(f"Hola {j}")

print("-----------------FRUTAS---------------")

frutas=["uva", "aguacate", "pera", "manzana", "sandia"]
for i in frutas:
    print(i)
print("------------")
for index in range(5):
    print(frutas[index])

print("------------")
for i in range(5):
    print("+++++")
print("------------")

for i in range(6):
    for j in range(i):
        print('+', end = ' ')
    print()

range(0, 10, 2)
Hola 0
Hola 1
Hola 2
Hola 3
Hola 4
Hola 5
Hola 6
Hola 7
Hola 8
Hola 9
--------------------------------
Hola 0
Hola 2
Hola 4
Hola 6
Hola 8
-----------------FRUTAS---------------
uva
aguacate
pera
manzana
sandia
------------
uva
aguacate
pera
manzana
sandia
------------
+++++
+++++
+++++
+++++
+++++
------------

+
+ +
+ + +
+ + + +
+ + + + +

# FECHA: 25 DE NOVIEMBRE DE 2021

In [1]:
for x in range(1,20,1):
    print(x)
print("FIN DEL PROGRAMA")

for x in range(19,0,-1):
    print(x)
print("FIN DEL PROGRAMA")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
FIN DEL PROGRAMA
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
FIN DEL PROGRAMA

In [10]:
#Ejemplo 3.3
CUECER=0
NUM=0
N =int(input("Introduce un valor numérico mayor que 1 "))
for I in range(1,N+1,1):
    N =int(input("Introduce un valor numérico "))
    if N==0:
        CUECER+=1
print("CUECER= ", CUECER)

Introduce un valor numérico mayor que 1 4
Introduce un valor numérico mayor que 1 5
Introduce un valor numérico mayor que 1 10
Introduce un valor numérico mayor que 1 10
Introduce un valor numérico mayor que 1 7
CUECER=  0

In [16]:
for i in range(1, 11):
 print(f"7 * {i} = ", 7*i)

7 * 1 =  7
7 * 2 =  14
7 * 3 =  21
7 * 4 =  28
7 * 5 =  35
7 * 6 =  42
7 * 7 =  49
7 * 8 =  56
7 * 9 =  63
7 * 10 =  70

In [67]:
n=int(input("Dame un número entre 1 y 5 "))
e=int(input("Dame un número entre 2 y 10 "))
if n>5 and n<1:
    print("Debe ser un número entre lo valores dados")
elif e>10 and e<2:
    print("Debe ser un número entre lo valores dados")
else:
    for i in range(n, e+1):
        for i in range(1, 11):
          print(f"{n} * {i} = ", n*i)
        n=n+1
        print("-------------------")

Dame un número entre 1 y 5 2
Dame un número entre 2 y 10 5
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
2 * 10 =  20
-------------------
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30
-------------------
4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
4 * 10 =  40
-------------------
5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50
-------------------

In [61]:
N1=int(input("Dame un número entre 1 y 5: "))
if N1>0 and N1<=10:
    N2=int(input(f"Dame un número entre {N1} y 10: "))
    if N2>=N1 and N2<=10:
        for i in range(N1, N2+1):
            for j in range(1,11):
                print(f"{i} * {j} = ", i*j)
            print("--------------------")
else:
    print("Valor fuera del rango dado")

Dame un número entre 1 y 5: 2
Dame un número entre 2 y 10: 5
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
2 * 10 =  20
--------------------
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30
--------------------
4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
4 * 10 =  40
--------------------
5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50
--------------------

In [43]:
#generadores de listas
numeros=[0,0,0,0,0]
print(numeros)
numeros=[0 for x in range(5)]
print(numeros)
#empleando la variable de controlx para el valor inicial
numeros=[x for x in range(5)]
print(numeros)

numeros=[(x+1)*10 for x in range(10)]
print(numeros)
print("---------------------------")
numeros=[x for x in range(10,101,10)]
print(numeros)
print("---------------------------")
numeros=[x*10 for x in range(1,11)]
print(numeros)

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
---------------------------
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
---------------------------
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [56]:
#ejercicio: calcular promedio de edades
suma=0
edades=[0 for x in range(5)]
for x in range(5):
    edades[x]=int(input("Dame una edad: "))
    suma=suma+edades[x]
print(edades)
print("promedio: ", suma/5)

Dame una edad: 8
Dame una edad: 7
Dame una edad: 5
Dame una edad: 4
Dame una edad: 3
[8, 7, 5, 4, 3]
promedio:  5.4

In [58]:
edades=[0 for x in range(5)]
edades[0]=int(input("Dame una edad: "))
print(edades)

Dame una edad: 45
[45, 0, 0, 0, 0]

In [64]:
import random
print(random.random())
print(random.uniform(5,11))

val=round(random.uniform(5,11), 2)
print(val)
valores = [round(random.uniform(5,11),2) for x in range(20)]
print(valores)
#cual de los numero es el menor
#cual es el mayor

0.6840818919244848
7.751814665816491
10.61
[7.87, 10.06, 9.42, 6.62, 10.22, 8.76, 6.97, 7.75, 10.0, 5.94, 5.42, 9.99, 7.57, 6.06, 9.07, 6.06, 5.36, 9.14, 5.38, 7.9]